.navbar {
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  position: absolute;
}

.navbar a {
  display: block;
  color: #000;
  padding: 0.7rem 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-left,
.navbar-middle,
.navbar-right {
  display: flex;
  flex-direction: row;
}

.navbar-left {
  justify-content: flex-start;
  text-align: center;
  left: 0;
  width: 30%;
  align-items: center;
}

.navbar-middle {
  justify-content: center;
  width: 45%;
  letter-spacing: 0.15rem;
  margin-left: 5vw;
}

.navbar-middle a {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

.navbar-right {
  float: right;
  text-align: center;
  justify-content: flex-end;
  width: 35%;
  padding-right: 0.3rem;
  letter-spacing: 0.1rem;
}

.navbar-right a,
#search {
  font-size: 0.8rem;
  font-weight: 500;
  padding-right: 0.5rem;
}

.hamburger-menu div,
.close-btn,
.close-btn::before,
.close-btn::after {
  display: none;
}

.logo {
  height: 2.1rem;
  width: 16.2rem;
  margin-left: -5vw;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 4vw;
}

.hamburger-menu div {
  width: 4.4rem;
  height: 0.4rem;
  background-color: #000;
  margin: 0.4rem 0;
}

.close-btn {
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
  margin: 4vw;
}

.close-btn::before,
.close-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #000;
  display: none;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

img {
  height: 1.5rem;
  width: 1.5rem;
  align-self: center;
  cursor: pointer;
}

#cart {
  margin-right: 2vw;
}
